# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
output_data_file = "../output_data/weather_data.csv"
# output_data_file

types_df = pd.read_csv(output_data_file)

weather_data_df = types_df.drop(columns=["Unnamed: 0"])
weather_data_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,mount gambier,90,AU,1614827296,68,-37.8333,140.7667,64.40,11.50
1,morehead,1,US,1614827355,75,37.2711,-87.1764,43.00,5.88
2,umea,3,SE,1614827356,86,63.8284,20.2597,21.20,6.91
3,nishihara,75,JP,1614827357,49,26.1842,127.7558,73.40,14.97
4,qaanaaq,53,GL,1614827359,75,77.4840,-69.3632,-22.45,10.63
...,...,...,...,...,...,...,...,...,...
541,taunggyi,23,MM,1614828071,26,20.7833,97.0333,73.08,10.98
542,catuday,0,PH,1614828075,66,16.2923,119.8062,82.47,8.19
543,yenagoa,100,NG,1614828076,92,4.9247,6.2642,78.03,3.11
544,ust-omchug,100,RU,1614828077,80,61.1500,149.6333,-18.51,5.75
545,bubaque,0,GW,1614828078,71,11.2833,-15.8333,77.40,7.20

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [21]:
locations = cities_df[["Lat", "Lng"]]
# locations

humidity = cities_df["Humidity"].astype(float)

# humidity

# figure_layout = {
#     'width' : '1000px',
#     'height':'400px',
#     'border':'1px solid black',
#     'padding':'1px',
#     'margin':'0 auto 0 auto'
# }

# fig = gmaps.figure(layout=figure_layout)

fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [24]:
new_types_df = pd.DataFrame(cities_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

max_temp = (new_types_df["Max Temp"] <= 80) & (new_types_df["Max Temp"] > 70)
wind_speed = new_types_df["Wind Speed"] < 10
cloudiness = new_types_df["Cloudiness"] == 0

# new_types_df[max_temp & wind_speed & cloudiness]
new_types_df[max_temp & wind_speed & cloudiness]

           City  Max Temp  Wind Speed  Cloudiness
5     road town     77.00        1.01           0
83    boa vista     78.80        9.22           0
154     ubatuba     71.60        3.09           0
278     pokhara     70.18        2.37           0
280  pedernales     74.41        4.65           0
347     guanica     73.99        1.99           0
349   la orilla     71.85        1.28           0
354     chambar     76.21        8.28           0
372       nioro     73.90        2.86           0
380      turbat     72.57        1.21           0
393       simao     73.49        7.81           0
415         sur     77.32        2.89           0
423    islamkot     71.56        9.82           0
426        bani     70.41        3.33           0
508        lima     78.01        6.91           0
545     bubaque     77.40        7.20           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [29]:
 #set parameters to search for hotels within 5000 mile radius
#https://developers.google.com/places/web-service/search for parameters

hotel_df["Hotel Name"] = ""

hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,
125,125,arraial do cabo,0,BR,1558378491,78,-22.97,-42.02,84.20,4.70,
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,
316,316,gunjur,0,GM,1558378848,61,13.18,-16.76,80.60,9.17,
518,518,bonito,0,BR,1558378893,49,-21.13,-56.49,84.30,7.72,
527,527,tomatlan,0,MX,1558378894,59,19.93,-105.25,84.66,7.90,
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05,

In [30]:
base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    
#iterate through the rows of the df
for index, row in hotel_df.iterrows():
    
    coordinates = f"{row['Lat']},{row['Lng']}"
    params = {"location": coordinates, "radius": 1000, "type": 'lodging', "key": g_key}
    response = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, 'Hotel Name'] = response['results'][0]['name']
    except(KeyError, IndexError):
        print('Missing Field. Skipping...')

Missing Field. Skipping...
Missing Field. Skipping...

In [31]:
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,Vitrine Campeira
125,125,arraial do cabo,0,BR,1558378491,78,-22.97,-42.02,84.20,4.70,Pousada Porto Praia
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,Rovasoa Hotel
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,Hôtel La Giralda
316,316,gunjur,0,GM,1558378848,61,13.18,-16.76,80.60,9.17,Explorers home
518,518,bonito,0,BR,1558378893,49,-21.13,-56.49,84.30,7.72,Marruá Hotel
527,527,tomatlan,0,MX,1558378894,59,19.93,-105.25,84.66,7.90,Norma franco
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05,

In [32]:
target_coordinates = f"{hotel_df['Lat'][0]},{hotel_df['Lng'][0]}"
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

KeyError: 0

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))